{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
    ></script>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet"/>
    <!-- <link rel="stylesheet" href="{% static 'css/reset.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{ title }}</title>
</head>
<body>
    <header>
      <span id="logoGroup">
        <a href="{% url 'home' %}">
          <img id="logo" src="{% static 'images/logo.png' %}" height="200px" />
        </a>
      </span>
      <span class="icons">
        <a href="https://candy-fluffs.tumblr.com/">
          <i class="fab fa-tumblr"></i>
        </a>
        <a href="https://www.instagram.com/candy_fluffs/">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://twitter.com/candy_fluffs">
          <i class="fab fa-twitter"></i>
        </a>
      </span>

    </header>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'products' %}">Shop</a></li>
            <li><a href="{% url 'necahual' %}">Necahual</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
      &copy; Candy Fluffs {% now "Y" %}
    </footer>
</body>
</html>